<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EJS Tags</title>
    
</head>
<body>
    <% if (locals.numberofletters){ %>
    <h1>There are <%=numberofletters%> letters</h1>
    <% } else { %>
        <h1>Write your name below</h1>
        <% } %>
    <form action="/submit" method="POST">
        <input type="text" name="fName" placeholder="First name">
        <input type="text" name="lName" placeholder="Last name">
        <input type="submit" value="OK">
    </form>
</body>
<%- include('footer2.ejs') %>
</html>