<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EJS Tags</title>
    
</head>
<body>
    <h1><%=data['title']%></h1>
    <p>Current Second: <%=data.Seconds%></p>
    <ul>
        <%for(i in data['items']) {%>
        <li>
            <%= data['items'][i] %>
        </li>
        <%}%>
    </ul>
    <p><%- data.htmlContent %></p>
</body>

</html>